<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <section class="description">
      <%= yield %>
    </section>
    <%= partial "partials/section.prefooter" %>
    <%= partial "partials/footer" %>
  </body>

</html>
