<section class="prefooter">
  <nav>
    <ul>
        <li><%= link_to '<span class="fa fa-twitter-square"></span>', 'https://twitter.com/mkalmes' %></li>
        <li><%= link_to '<span class="fa fa-github-square"></span>', 'https://github.com/mkalmes' %></li>
        <li><%= link_to '<span class="fa fa-headphones"></span>', 'http://www.protokollcast.de' %></li>
        <li><%= link_to '<span class="fa fa-stack-overflow"></span>', 'http://stackoverflow.com/users/1712728/mkalmes' %></li>
        <li><%= link_to '<span class="fa fa-xing-square"></span>', 'https://www.xing.com/profile/Marc_Kalmes' %></li>
        <li><%= link_to '<span class="fa fa-linkedin-square"></span>', 'https://de.linkedin.com/in/marc-kalmes-375884b7' %></li>
    </ul>
  </nav>
</section>
