<section class="prefooter">
  <nav>
    <ul>
        <li><%= link_to 'Twitter', 'https://twitter.com/mkalmes' %></li>
        <li><%= link_to 'GitHub', 'https://github.com/mkalmes' %></li>
        <li><%= link_to 'Für\'s Protokoll', 'http://www.protokollcast.de' %></li>
        <li><%= link_to 'Stack Overflow', 'http://stackoverflow.com/users/1712728/mkalmes' %></li>
        <li><%= link_to 'Xing', 'https://www.xing.com/profile/Marc_Kalmes' %></li>
        <li><%= link_to 'LinkedIN', 'https://de.linkedin.com/in/marc-kalmes-375884b7' %></li>
    </ul>
  </nav>
</section>
